.wrap{
    margin: 20rem;
    display: flex;
   flex-shrink: 0;
   overflow: hidden;
   flex-direction: column;
   overflow-x: auto;
   
}
.header{
 display: flex;
 align-items: center; 
 
}
.title{
    font-size: 36rem;
    margin-right: 18rem;
}
.angleRight{
     font-size: 36rem;
     transform: translateY(2rem);
}
.sheetWrap{
    flex: auto;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}
