.wrap{
 
    display: flex;
   flex-shrink: 0;

   flex-direction: column;  
}
::-webkit-scrollbar{
  display: none;
}
.sheetWrap{
 
  height: 340rem;
    display: flex;
  
    overflow-x:scroll;
    padding-left: 20rem;   
}

