
.audioPlayer{
    width: 100%;
    position: fixed;
    bottom: 0rem;
    background-color: #7F7F7F;
    color: white;
  border-radius: 30rem 30rem 0 0;
    border: 1px solid #7F7F7F;
  
    padding: 10rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
}

button{

    color: white;
    border: 0;
    font-size: 30rem;
    background-color: #7F7F7F;
    
}

input[type="range"]{
    position: relative;
    --range-progress:0;
    flex: auto;
    margin: 0 20rem;
}
input[type="range"]::before{

    background-color:  rgb(28, 114, 194);
    width: var(--range-progress); 
}
.progressWrap{
    display: flex;
    align-items: center;
    width: 600rem;
  
}

.controlsWrap{
  
  
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 60rem;
    overflow: hidden;
    
}
.playBtn{
    width: 80rem;
    height: 80rem;
    font-size: 60rem;
}

