
.wrap{
    background:  var(--my-color);
 
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
   justify-content:flex-start;
   align-items: center;
   color: rgba(255, 255, 255, 0.6);
   padding: 30rem;
}
.songName{
    font-size: 36rem
}
.header{
   width: 100%;
    font-size: 40rem;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.center{
 height: 78vh;
 display: flex;
 align-items: center;
 margin: 32rem 0 0;
}
.Lyric{
    display: block;
    overflow-y: auto;
    text-align: center;
 
    
    
}
.lyricItem{
    font-size: 36rem;
    line-height: 40rem;

}
.dishDrop{
    width: 600rem;
    height: 600rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

   
}
.dish{
    width: 550rem;
    height: 550rem;
    border-radius: 50%;
    background-image: linear-gradient(to right, #080808 ,#373737, #080808);
    border: 5rem solid #000;
    display: flex;
    align-items: center;
    justify-content: center;


}
.Context{
    width: 100%;
  
}

.songContext{
  
    font-size: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    width: 450rem;
  
}
.minSongName{
   max-width: 300rem;
   font-size: 28rem;
   margin-bottom: 10rem;
    
}
.minSongName,.artistName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.artist{
    display: flex;
    font-size: 20rem;
    color:rgba(255, 255, 255, 0.4) ;
}
.artistName{
   max-width: 200rem;
  
}
.interest{
    margin-left: 10rem;
    padding: 0 8rem;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 20rem;
}
.like,.comment{
    width: 150rem;
    position: relative;
    font-size: 50rem;

    text-align: center;
}
.count{
    position: absolute;
    font-size: 18rem;
    background-color:rgba(255, 255, 255, .3);
        right:-5rem;
    border-radius: 20rem;
    padding-left: 5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.imgWrap{
    width: 400rem;
    height: 400rem;
    border-radius: 50%;
    overflow: hidden;
  
   animation: playSongs 20s linear infinite;

}
.img{
    width: 400rem;
    height: 400rem;
}
@keyframes playSongs {
    0%{
        transform: rotateZ(0);
    }

  100%{
    transform: rotateZ(360deg);
  }
   
}