.wrap{
    width: 260rem;
    height: 340rem;
    padding: 10rem;
    flex-shrink: 0;
    margin-right: 20rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
    border-radius:  20rem;
 
   
}

.cartMain{
   position: relative;
    overflow: hidden;
    border-radius: 20rem;
    color: #fff;
}
.img{
    vertical-align: bottom;
    width: 240rem;
     height:  240rem;
   object-fit: contain;
}
.des{
   max-height: 60rem;
    margin: 5rem 0 0 ;
    overflow: hidden;
    font-size: 22rem;
    font-weight: 600;
    color: #5c4c4c;
    margin-top: 16rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.player{
    
    z-index:10 ;
    position: absolute;
    font-size: 40rem;
    right: 20rem;
    bottom: 20rem;
}
.histroyCount span{
    margin-left: 5rem;
}
.histroyCount{
    color: #fff;
    font-size: 20rem;
    z-index: 20;
    position: absolute;
    top: 10rem;
    right: 10rem;
    font-weight: bold;
}