.wrap {

    overflow-y: auto;
    height: 100%;
   
}

.header {
    overflow: hidden;
    border-radius: 30rem 30rem 0 0;
    background-color: rgba(255, 255, 255);
    color: black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 30rem 20rem;
    align-items: center;
    z-index: 1;
    width: 100%;

}

.playHandler {

    font-size: 26rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    font-size: 40rem;

}

.songCount {
    color: #959192;

}

.headerTitle {
    font-weight: 600;
    margin: 0 20rem 0 30rem;
}

.songSet {
    width: 100rem;
    display: flex;
    justify-content: space-between;

}

.body {
    margin-top: 100rem;
    margin-bottom: 100rem;
    background-color: #fff;
    overflow-y: auto;

}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
}