.wrap {

    overflow-y: auto;


}

.header {
    overflow: hidden;
    border-radius: 30rem 30rem 0 0;
  
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 30rem 20rem;
    align-items: center;
    z-index: 1;
    width: 100%;

}

.playHandler {

    font-size: 26rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    font-size: 40rem;

}

.songCount {
    color: #959192;

}

.headerTitle {
    font-weight: 600;
    margin: 0 20rem 0 30rem;
}

.songSet {
    width: 100rem;
    display: flex;
    justify-content: space-between;

}

.body {
  
 
  padding-bottom: 100rem;
    overflow-y: auto;

}
.hasHeight{
    height: 900rem;
}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
}
.noMore{
    font-size: 40rem;
    line-height: 60rem;
    text-align: center;
    color: black;
}